*{

    margin: 0px;
    padding: 0px;

}

body{

    text-align: center;
    background-color: #78866b;
    font-family: Arial, Helvetica, sans-serif;

}

main{

    min-height: 280px;
    max-width: 850px;
    margin: auto;
    margin-top: 8.0rem;
    margin-left: 30%;
    margin-right: 30%;

    background-color: rgba(255, 255, 255, 0.938);
    border-width:2.5rem;
    border-radius: 0.5rem;
    box-shadow: 0.4rem 0.4rem 0.4rem rgba(0,0,0,0.2);

}

img{

    width: 40%;
    margin-top: 2rem;
    margin-bottom: 1.2rem;

}

p{

    padding: 5px;
    font-size: 1.3rem;
    margin-bottom: 1.5rem;

}

#E-mail{
    
    font-size: 1rem;
    width: 80%;
    margin-bottom: 1rem;
    height: 3rem;

    
    border: none;
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0,0,0,0.2);

}

#name{
    
    font-size: 1rem;
    width: 80%;
    margin-bottom: 1rem;
    height: 3rem;

    
    border: none;
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0,0,0,0.2);

}

#cell{
    
    font-size: 1rem;
    width: 80%;
    margin-bottom: 1rem;
    height: 3rem;

    
    border: none;
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0,0,0,0.2);
}

button{ 

    font-size: 1.2rem;
    width: 40%;
    margin-bottom: 2.5rem;
    height: 3rem;
    background-color: #98FB98;
    border-radius: 1rem;
    border: none;
    
    cursor: pointer;
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0,0,0,0.2);
    text-shadow: none;    

}

button:hover{

    filter: brightness(1.2);
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0,0,0,0.2);
    
}